.form {
  width: 320px;
  margin: 0 auto;
}

.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.contactFormField {
  padding: 6px;
  border: 1px solid #e5e8ea;
  border-radius: 4px;
  outline: transparent;
  transition: border-color 0.3s;
}
.btn:hover,
.btn:focus {
  border-color: #0ed414;
}
.btn {
  background-color: aquamarine;
}
