.UserMenu {
  display: flex;
  align-items: center;
  gap: 12px;
}

.name {
  font-weight: 700;
}
.button {
  background-color: #3399e1;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.button:active,
.button:focus {
  background-color: #e21ce9;
}
